*{

    margin:0;

    padding:0;

    box-sizing:border-box;

}

body{

    font-family:'Inter',sans-serif;

    background:#f3f5fb;

}

.main-content{
    margin-left:220px;
    width:calc(100% - 220px);
    min-height:100vh;
    padding:30px;
    transition:.35s ease;
    box-sizing:border-box;
    overflow-x:hidden;
}

.sidebar.collapsed ~ .main-content{
    margin-left:82px;
    width:calc(100% - 82px);
}

html,
body{
    overflow-x:hidden;
}
